name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: prodkiller
          template: classic
          base: header, activity, community, repositories, metadata
          filename: github-metrics.svg
          config_timezone: Kazakhstan/Almaty
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_stargazers: yes
          plugin_stargazers_charts: yes
          plugin_stargazers_worldmap: yes
